<div class="form-group">
    <textarea class="form-control" id="charCntTA" rows="15" placeholder="Insert string here"></textarea>
	 <br/>
	 <h4>Analysis Result</h4>
	 <br/>
	<dl class="dl-horizontal">
	  <dt>Character Count:</dt>
	  <dd id="noOfChars"></dd>
	  <dt>Word Count:</dt>
	  <dd id="noOfWords"></dd>
	  <dt>Line Count:</dt>
	  <dd id="noOfLines"></dd>
	</dl>
	<div class="form-inline">
		<label for="wordOccur">Number of occurances of word : </label>
		<input type="text" class="form-control" id="wordOccur">&nbsp;&nbsp;&nbsp;
		<label id="noOfOccur"></label>
  </div>
</div>