<div id="home" class="mod">
	<img src="assets/unitConv.png" alt="Unit Converter" id="unitConvOnClick" class="img-rounded modDiv"/>
	<img src="assets/charCount.png" alt="Character Counter" id="charCountOnClick" class="img-rounded modDiv"/>
	<img src="assets/bmiCalc.png" alt="BMI Calculator" id="bmiCalcOnClick" class="img-rounded modDiv"/>
	<img src="assets/base64.png" alt="Base 64 Encoder" id="base64OnClick" class="img-rounded modDiv"/>
	<img src="assets/xmljson.png" alt="XML - JSON" id="xmljsonOnClick" class="img-rounded modDiv"/>
	<img src="assets/regex.png" alt="Regex Tester" id="regexOnClick" class="img-rounded modDiv"/>
	<img src="assets/md2hash.png" alt="MD2 & MD5 Hash" id="md2hashOnClick" class="img-rounded modDiv"/>
	<img src="assets/qrCode.png" alt="QR Code" id="qrCodeOnClick" class="img-rounded modDiv"/>
</div>